canvas {
  width: 320px;
  height: 320px;
  margin-top: 10px;
  margin-left: 35px;
  margin-right: 35px;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  border-left: 2px solid black;
  border-top: 2px solid black;
}
