button {
  width: 60px;
  height: 45px;
  margin-top: -40px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1000;
}
button:hover {
  background: rgb(212, 212, 212);
}
