@mixin flexbox($W, $H) {
  width: $W;
  height: $H;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.area {
  @include flexbox(100vw, 100vh);
  flex-direction: column;
  overflow: hidden;
}
