.title {
  color: white;
  font-size: 80px;
  font-family: 'Fredoka One', cursive;
  text-shadow: 0px 0 black, 2px 0 black, 2px 0 black, 0 0px black;
  width: 100%;
  height: 120px;
  margin: 5vh 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media all and (max-width: 624px) {
  .title {
    font-size: 12.8vw;
    height: 80px;
    margin: 30px 0px 15px 0px;
  }
}
@media all and (max-width: 450px) {
  .title {
    height: 60px;
    margin: 5vh 0px 15px 0px;
  }
}
@media all and (max-height: 624px) {
  .title {
    margin-top: 30px;
  }
}
@media all and (max-height: 512px) {
  .title {
    display: none;
  }
}
